*{
	margin: 0px;
	padding: 0px;
	margin: 0 auto;
}
#container{
	width: 980px;
}
#header{
	width: 980px;
	height: 68px;
	background-color: #EDEDED;
	text-align: center;
}
	#header img, #contact{
		display: inline;
	}
	#header img{
		padding-right: 35px;
	}
	#contact{
		vertical-align: top;
		margin-top: 35px;
	}
#menu{
	width: 980px;
	height: 50px;
	background-color: #DBE1E6;
}
	#menu ul{
		text-align: center;
		padding-top: 10px;
	}
	#menu li{
		display: inline;
		border-right: solid black 1px;
		padding-right: 10px;
		color: #666666;
		font-weight: bold;
	}
	#menu li:first-child{
		border-left: solid black 1px;
		padding-left: 10px;
	}
#content{
	width: 980px;
	background-color: black;
	display: inline-block;
	vertical-align: top;
}
	#topcontent, #history{
		display: inline-block;
		vertical-align: top;
	}
	#topcontent{
		width: 980px;
		display: inline-block;
		vertical-align: top;
	}
	#content img{
		margin-top: 8px;
		margin-left: 15px;
	}
		.feature{
			border: solid white 10px;
		}
	#content img #hrlogo{
		border: none;
	}
	#history{
		width: 485px;
		margin-left: 40px;
	}
	#content h3{
		color: black;
		background-color: #F9D047;
		margin-top: 8px;
		padding-left: 15px;
	}
	#content h4{
		background-color: #484848;
		color: white;
		padding-top: 10px;
		padding-bottom: 20px;
		padding-left: 20px;
	}
	#content p{
		background-color: #484848;
		color: white;
		font-size: 13px;
		padding-bottom: 15px;
		padding-left: 20px;
	}
		.bolding{
			font-weight: bold;
		}
	#pagebreak p, #pagebreak img{
		display: inline-block;
		vertical-align: top;
		margin-top: 10px;
		background-color: black;
	}
	#pagebreak img{
		border-radius: 5px;
		margin-bottom: 5px;
	}
	#pagebreak p{
		color: #95995C;
		padding: 0px;
		margin-bottom: 5px;
	}
	div#botcontent{
		display: inline-block;
		border: solid black 3px;
		border-bottom: solid black 10px;
	}
	#automotive, #commercial, #industrial, #diesel{
		display: inline-block;
		vertical-align: bottom;
	}
	#botcontent h4{
		color: black;
		background-color: #F9D047;
		margin-left: 15px;
		padding-right: 10px;
	}
	#botcontent p{
		width: 214px;
		height: 120px;
		padding: 5px;
		margin-left: 14px;
		color: black;
		background-color: white;
	}